* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.wrapper {
  min-width: 400px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  text-align: center;
}

.field {
  height: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.curr-options {
  margin: 0px 10px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

h1 {
  margin-bottom: 20px;
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
  font-family: Arial, Helvetica, sans-serif;
}

.equals {
  font-size: 40px;
  font-weight: 600;
  color: #595959;
}
